<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

  <body class="container">
    <%- include('../partials/nav.ejs') %>

    <main >
      <h1>About my page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
        veritatis odit, adipisci quasi dignissimos distinctio non consequuntur
        obcaecati perferendis! Tempore minima assumenda ducimus blanditiis rerum
        cumque odio culpa autem! Doloribus ipsa quas vitae quia placeat,
        voluptatem voluptas incidunt ea dolores itaque quod quaerat aut officia!
        Fugit quibusdam minima explicabo reprehenderit, minus ducimus nemo
        magnam tempore praesentium consequuntur dolorem dignissimos
        necessitatibus quam ipsa aut natus nam, hic mollitia, iste possimus
        sapiente quisquam corrupti ut? Deserunt explicabo et recusandae
        blanditiis aspernatur quas rerum, ad laboriosam minima ratione culpa
        dolorum quis magni ipsam provident, totam sed? Corporis, quod! Quo
        asperiores quibusdam dolores sint.
      </p>
    </main>
    <%- include('../partials/footer.ejs') %>

  </body>
</html>
