body{
    background-color: aqua;
}
.container{
    width: 90%;
    margin: auto;
   
    
   }
   nav{
    display: flex;
    justify-content: space-between;
    font-size: larger;
   }
   a{
    text-decoration: none;
   }
   li{
    list-style: none;
   }
   ul{
    display: flex;
    gap: 2rem;
   }
   /* form style */
   form button{
    background-color: blue;
    color: white;
    width:60% ;
    height: 40px;
    font-size: 1rem;
   }

   form{
    width: 10rem;
    margin-left: 5rem;
    margin-top: 3rem;
    font-size: x-large;
    
    
   }

   .stv{
    background-color: blueviolet;
   }